
.modal.custom#settingsModal .modal-dialog {
  position:fixed;
  bottom:0;
  right:0;
  margin: 2%;
  z-index: -1;
}



.modal-open#settingsModal .modal {
    width: 0;
    margin: 0 auto;
}

@media (min-width: 576px){
  #settingsModal .modal-dialog {
    max-width: 50%;
    margin: 1.75rem auto;
    }
}