.modal.custom#testModal .modal-dialog {
  position:relative;
  /* margin: 0 auto; */
  z-index: -1;
}

.modal-open#testModal .modal {
  width: 0;
  margin: auto;
}

#testModal .modal-content{
  width: 100%;
}

#testModal .modal-header{
  margin:auto;
}

@media (min-width: 576px){
  #testModal .modal-dialog {
    max-width: 700px;
    margin: 1.75rem auto;
    }
}

#testModal .modal-body {
  columns: 2 auto;
  column-gap: 10%;
}