.modal.custom#advancedSettingsModal .modal-dialog {
  position:relative;
  /* margin: 0 auto; */
  z-index: -1;
}

.modal-open#advancedSettingsModal .modal {
  width: 0;
  margin: auto;
}

#advancedSettingsModal .modal-content{
  width: 100%;
}

#advancedSettingsModal .modal-header{
  margin:auto;
}

@media (min-width: 576px){
  #advancedSettingsModal .modal-dialog {
    max-width: 65%;
    margin: 1.75rem auto;
    }
}

/* #advancedSettingsModal .modal-body {
  columns: 2 auto;
  column-gap: 10%;
} */