@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

html,
body {
  overflow: hidden;
  scroll-behavior: smooth;
}

.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* 360 rotations forever */
.rotate-image {
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.infinite {
  animation-iteration-count: infinite;
}

.linear {
  animation-timing-function: linear;
}

.rotate {
  animation: rotation 2s;
}

.col-lg-6{
  padding: 10px !important;
}

.col-lg-12{
  padding: 10px !important;
}