@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

html,
body {
  overflow: hidden;
  scroll-behavior: smooth;
}

.modal.custom .modal-dialog {
  position:fixed;
  bottom:0;
  right:0;
  margin:2%;
  z-index: -1;
}

.modal-open .modal {
    width: 0;
    margin: 0 auto;
}